.build/hulk.o
.build/lex.yy.cpp
.build/parser.tab.cpp
Hulk/Hulk.exe
Hulk/Hulk-IR.ll
.build/Utils/hulk_utils.o
.build/Utils/ast_utils.o
.build/semantic/scope/Symbol.o
.build/semantic/scope/Function.o
.build/semantic/Semantic.o
.build/parser/parser.tab.o
.build/lexer/lex.yy.o
.build/code_generation/IRGen.o
.build/code_generation/IRContext.o
.gitignore
Compiler.exe
